<div id="entradaSalidaScreenView">
    <h2>Lectura RFID - Entrada / Salida</h2>
    <div class="controls">
        <button id="btnStartES">Empezar Lectura</button>
        <button id="btnStopES" disabled>Detener Lectura</button>
        <button id="btnClearES" disabled>Limpiar Grilla</button>
        <button id="btnExportCsvES">Exportar CSV</button> </div>
    <table id="tableES">
        <thead>
        <tr>
            <th>ID Evento</th>
            <th>EPC</th>
            <th>Tipo Evento</th>
            <th>Hora Evento</th>
            <th>RSSI</th>
            <th>Antena</th>
            <th>Ticket</th>
        </tr>
        </thead>
        <tbody id="tableBodyES">
        </tbody>
    </table>
</div>